# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
config.js
api-keys.js
.cache
.project
.settings
.tmproj
nbproject
*.sublime-project
*.sublime-workspace

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Espresso
*.esproj
*.espressostorage

# Folders & files to ignore

node_modules
candles.csv
cexio.db
history
TMP_*
.idea
volumes
config.js
config-*.js
private-*.js
private-*.toml
SECRET-api-keys.json
strategies/indicators/zTrailingStop.js
config/strategies/BBRSI.toml
config/strategies/Bro-StochRSI-ADX-DI.toml
config/strategies/EMA_OR_PRICE_DIV.toml
config/strategies/Kane2.toml
config/strategies/NEO.toml
config/strategies/NNv2.toml
config/strategies/RSI_BULL_BEAR.toml
config/strategies/buyatsellat_ui.toml
config/strategies/jazzbre.toml
config/strategies/mounirs_esto.toml
config/strategies/neuralnet.toml
config/strategies/rsidyn.toml
strategies/BBRSI.js
strategies/Bro-StochRSI-ADX-DI.js
strategies/EMA_OR_PRICE_DIV.js
strategies/Kane2.js
strategies/NEO.js
strategies/NN.js
strategies/NNv2.js
strategies/RSI_BULL_BEAR.js
strategies/buyatsellat_ui.js
strategies/jazzbre.js
strategies/mounirs_esto.js
strategies/neuralnet.js
strategies/rsidyn.js
strategies/indicators/BB.js
strategies/indicators/NN.js
strategies/indicators/NNv2.js
strategies/indicators/StopLoss.js
strategies/BBRSI_tulip.js
config/strategies/BBRSI_tulip.toml
config/strategies/BBRSI_tulip.toml
